/* Only unique styling for logout page */
body {
background: url('../images/background 2.jpg') no-repeat center center fixed;
    background-color: #FAE8ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    text-align: center;
    background: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h2 {
    color: #FFA2B9;
}
a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFB2C5;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

a:hover {
    background-color: #FFA2B9;
}