.footer{
    background:#1A1A1A;
    color:white;
    padding:50px 80px;
}

.footer-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px;
}

.footer h4{
    margin-bottom:15px;
    color:#FFF36E;
}

.footer a{
    color:#ccc;
    display:block;
    margin-bottom:8px;
}

.footer a:hover{
    color:white;
}

.footer-bottom{
    text-align:center;
    margin-top:40px;
    font-size:14px;
}

.footer-subscribe p{
    font-size:14px;
    margin-bottom:15px;
    color:#ccc;
}

/* INPUT BOXES */
.subscribe-input{
    display:flex;
    margin-bottom:10px;
}

.subscribe-input input{
    flex:1;
    padding:10px;
    border:none;
    outline:none;
    background:#ddd;
    font-size:14px;
}

.subscribe-input select{
    padding:10px;
    border:none;
    background:#ddd;
    outline:none;
}

.subscribe-input button{
    background:#333;
    color:white;
    border:none;
    padding:10px 14px;
    cursor:pointer;
}

.subscribe-input button:hover{
    background:#555;
}


/* SOCIAL ICONS */
.social-icons{
    margin:15px 0;
}

.social-icons a{
    display:inline-block;
    margin-right:12px;
    font-size:18px;
    color:#ccc;
}

.social-icons a:hover{
    color:white;
}


/* CURRENCY SELECTOR */
.currency{
    display:flex;
    gap:6px;
    margin-top:10px;
}

.currency button{
    padding:6px 10px;
    border:1px solid #999;
    background:transparent;
    color:white;
    font-size:12px;
    cursor:pointer;
}

.currency button:hover{
    background:#333;
}

.currency .active{
    border:2px solid red;
}