.Partnership{
    padding:60px 70px;
     background:rgba(255,255,255,0.92);
}

.partnership-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:40px;
}

.partnership-card{
    background:white;
    border-radius:0px;
    text-align:center;
    overflow:hidden;
    aspect-ratio: 6 / 5; /* keeps same shape while zooming */
}

.partnership-card img{
    width:90%;
    height:150px;
    object-fit:fit;
}

.partnership-content{
    padding:30px;
}